/* Set the contact info to be aligned in the center and larger than the rest of the comment text.*/
.contact td {
  text-align: center;
  font-size: 17px;
}

/* Set the colors for the background on the various statuses and changes the font to white.*/
.donor td {
  background-color: blue;
}

.ongoing td {
  background-color: green;
}

.future td {
  background-color: yellow;
}

.planned td {
  background-color: red;
}

.text td {
  background-color: black;
  color: white;
}
