/* Set the contact info to be aligned in the center and larger than the rest of the comment text.*/
.contact td {
  text-align: center;
  font-size: 17px;
}

/* Set the colors for the background on the various statuses and changes the font to white.*/
td.donor {
  background-color: blue;
}

td.ongoing {
  background-color: green;
}

td.future {
  background-color: yellow;
}

td.planned {
  background-color: red;
}

td.text {
  background-color: black;
  color: white;
}
