.kshowSynopsisTable.ssstylish th, tbody, tr {
background-color: black;
border: 2px solid white;
color: white;
}

.batchLinksTable.ssstylish th, tbody, tr {
background-color: black;
border: 2px solid white;
color: white;
}

.showInfoTable.ssstylish th, tbody, tr {
background-color: black;
border: 2px solid white;
color: white;
}

.showLinksTable.ssstylish th, tbody, tr {
background-color: black;
border: 2px solid white;
color: white;
}
