.kshowSynopsisTable table, th, tbody, tr {
background-color: black;
border:2px solid white;
color: white;
}

.batchLinksTable table, th, tbody, tr {
background-color: black;
border:2px solid white;
color: white;
}

.showInfoTable table, th, tbody, tr {
background-color: black;
border:2px solid white;
color: white;
}

.showLinksTable table, th, tbody, tr {
background-color: black;
border:2px solid white;
color: white;
}
